# MATLAB Release

name: Try auto-release

env:
  ArchiveBaseName: "my-release-"

on:
  push:
    tags:
      - "v*.*.*"

jobs:
  DeployJob:
    name: Deploy job
    runs-on: ubuntu-latest
    steps:

    - name: Check out the repository
      uses: actions/checkout@v5

    - name: Create ZIP from Release folder
      run: |
          sudo apt-get update && sudo apt-get install -y zip
          TAG="${GITHUB_REF_NAME:-notag}"
          ARCHIVE="${{ env.ArchiveBaseName }}-${TAG}.zip"
          # Zip only the "Release" folder and its contents.
          cd Release
          zip -r "../$ARCHIVE" .
          #echo "ARCHIVE_NAME=$ARCHIVE" >> $GITHUB_ENV

    - name: Generate checksum (optional)
      run: |
          sha256sum "$ARCHIVE" > "$ARCHIVE.sha256"
          #echo "CHECKSUM_NAME=$ARCHIVE.sha256" >> $GITHUB_ENV

    - name: Create the Release and upload assets
      uses: softprops/action-gh-release@v2
      with:
          # ${{ github.ref_name }} is a tag that triggered the workflow, e.g., v1.2.3
          name: "Release ${{ github.ref_name }}"
          draft: false
          prerelease: false
          files: |
            $ARCHIVE
            $CHECKSUM
      env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
