# MATLAB Release

name: Deploy

on:
  workflow_dispatch:
  release:
    types: [created]

defaults:
  run:
    shell: bash

#permissions:
#  contents: write

jobs:
  mytry1:
    name: Run a job

    runs-on: ubuntu-latest

    env:
      Matlab_Release: R2025b

    steps:

    - run: echo $env.Matlab_Release

    - uses: actions/checkout@v5

    - name: Setup MATLAB ${{ env.Matlab_Release }}
      uses: matlab-actions/setup-matlab@v2
      with:
        release: ${{ env.Matlab_Release }}
        cache: true

    - name: Try
      run: matlab -batch "matlabRelease"
