# MATLAB Release

name: MATLAB Release

on:
  workflow_dispatch:
  release:
    types: [created]
  push:
    branches: [main]

defaults:
  run:
    shell: bash

permissions:
  contents: write

jobs:
  mytry1:
    name: Run a job

    runs-on: ubuntu-latest

    env:
      Matlab_Release: R2025b
      Filename: "matlab-release.txt"

    steps:

    - name: Check out the repository
      uses: actions/checkout@v5

    - name: Set up MATLAB
      uses: matlab-actions/setup-matlab@v2
      with:
        release: ${{ env.Matlab_Release }}
        cache: true

    - name: Run MATLAB
      uses: matlab-actions/run-command@v2
      with:
        command: writelines(matlabRelease.Release, "${{ env.Filename }}")

    - run: |
        echo "MATLAB Release"
        cat ${{ env.Filename }}
        MATLAB_RELEASE=$(< ${{ env.Filename }} )
        echo $MATLAB_RELEASE
        if [ "$MATLAB_RELEASE" = ${{ env.Matlab_Release }} ]; then
          echo "Release matched"
        else
          echo "Release unmatched"
          echo "Specified in YML: ${{ env.Filename }}"
          echo "Actual: $MATLAB_RELEASE"
        fi
