# Tag-release workflow
#
# Create a GitHub release when a new git tag has been pushed.
# The file name of a zip for a release is
#   <archive_base_name>-<version>.zip
# where
#   <archive_base_name> is defined as a workflow environment
#   <version> is a tag representing a semantic version (e.g., v1.2.3)

name: Create GitHub Release

env:
  ArchiveBaseName: "my-release"

on:
  push:
    tags:
      - "v*.*.*"

permissions:
  # To create a zip file during a CI process, enable the write permission.
  contents: write

jobs:
  ReleaseJob:
    name: Release job
    runs-on: ubuntu-latest
    steps:

    - name: Check out the repository
      uses: actions/checkout@v6

    - name: Create ZIP from Release folder
      run: |
          TAG="${GITHUB_REF_NAME:-notag}"
          echo "TAG: $TAG"
          ARCHIVE="${{ env.ArchiveBaseName }}-${TAG}.zip"
          echo "ARCHIVE: $ARCHIVE"
          # Zip the contents of the "Release" folder.
          cd Release
          zip -r "../$ARCHIVE" .
          echo "ARCHIVE=$ARCHIVE" >> $GITHUB_ENV

    - name: Generate checksum (optional)
      run: |
          sha256sum "${{ env.ARCHIVE }}" > "${{ env.ARCHIVE }}.sha256"
          echo "CHECKSUM=${{ env.ARCHIVE }}.sha256" >> $GITHUB_ENV

    - name: Create a GitHub Release and upload assets
      uses: softprops/action-gh-release@v2
      with:
          # ${{ github.ref_name }} is a tag that triggered the workflow, e.g., v1.2.3
          name: "Release version ${{ github.ref_name }}"
          draft: false
          prerelease: false
          files: |
            ${{ env.ARCHIVE }}
            ${{ env.CHECKSUM }}
      env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
